root {
  --bg-dark: #0a192f;
  --primary-cyan: #64ffda;
  --text-white: #e6f1ff;
  --text-slate: #8892b0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
